<form action="/restaurants" method="POST">
  <input type="text" placeholder="名稱" name="name">
  <input type="text" placeholder="類別" name="category">
  <input type="text" placeholder="電話" name="phone">
  <input type="text" placeholder="地址" name="location">
  <input type="text" placeholder="Google地圖" name="google_map">
  <input type="text" placeholder="評分" name="rating">
  <input type="text" placeholder="照片" name="image">
  <input type="text" placeholder="描述" name="description">
  <button type="submit">新增</button>
</form>